<div class="rounded-md border hlm-border w-full">
  <table hlmTable>
    <thead hlmThead>
      <tr hlmTr>
        <th hlmTh class="w-[30%]">Colaborador</th>
        <th hlmTh class="w-[25%]">Departamento</th>
        <th hlmTh class="w-[25%]">Cargo</th>
        <th hlmTh class="w-[20%] text-right">Ações</th>
      </tr>
    </thead>
    <tbody hlmTbody>
      @for (collaborator of collaborators; track collaborator.id) {
        <tr hlmTr>
          <td hlmTd>
            <div class="font-medium">{{ collaborator.person.name }}</div>
            <div class="text-sm text-slate-500">{{ collaborator.user.email }}</div>
          </td>
          <td hlmTd>{{ collaborator.employee.department }}</td>
          <td hlmTd>{{ collaborator.employee.jobTitle }}</td>
          <td hlmTd class="text-right">
            <button hlmBtn size="sm" variant="ghost" (click)="openEditModal(collaborator)">
              <ng-icon hlm class="w-4 h-4" name="lucideEdit" />
            </button>
            
            <button hlmBtn size="sm" variant="ghost" (click)="openDeleteModal(collaborator)">
              <ng-icon hlm class="w-4 h-4" name="lucideTrash" />
            </button>
          </td>
        </tr>
      } @empty {
        <tr hlmTr>
          <td hlmTd colspan="4" class="text-center text-slate-500 py-8">
            Nenhum colaborador encontrado.
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<!-- <app-create-collaborator-dialog
    title="Editar Colaborador"
    [isEditMode]="true"
    [initialData]="selectedCollaborator"
    [(isOpen)]="isEditModalOpen"
    (collaboratorSaved)="saveEdit($event)"
></app-create-collaborator-dialog>

<app-delete-confirmation-dialog
    title="Confirmar Exclusão"
    message="Tem certeza que deseja apagar o colaborador {{ selectedCollaborator?.person.name }}? Essa ação é irreversível."
    [(isOpen)]="isDeleteModalOpen"
    (confirmAction)="confirmDelete()"
></app-delete-confirmation-dialog> -->