<div class="rounded-md border hlm-border w-full bg-white p-6 relative">
  @if(isLoading) {
    <div class="absolute inset-0 bg-white bg-opacity-50 rounded-md flex items-center justify-center z-10">
      <hlm-spinner class="text-lg" />
    </div>
  }
  <div class="mb-6">
    <h1 class="text-2xl font-bold mb-2">Lista de Colaboradores</h1>
    <p class="font-medium text-base text-gray-400 mb-0">Colaboradores ativos no sistema</p>
  </div>
  <table hlmTable class="w-full">
    <thead hlmThead>
      <tr hlmTr>
        <th hlmTh class="w-[30%] text-gray-400">Colaborador</th>
        <th hlmTh class="w-[25%] text-gray-400">Departamento</th>
        <th hlmTh class="w-[25%] text-gray-400">Cargo</th>
        <th hlmTh class="w-[20%] text-gray-400">Ações</th>
      </tr>
    </thead>
    <tbody hlmTbody>
      @for (collaborator of collaborators; track collaborator.id) {
      <tr hlmTr>
        <td hlmTd>
          <div class="font-medium">{{ collaborator.person.name }}</div>
          <div class="text-sm text-slate-500">{{ collaborator.user.email }}</div>
        </td>
        <td hlmTd><span hlmBadge>{{ collaborator.employee.department }}</span></td>
        <td hlmTd>{{ collaborator.employee.jobTitle }}</td>
        <td hlmTd>
          <div class="flex gap-2">
            <button hlmBtn size="sm" variant="outline" class="h-7 w-7 p-0" (click)="openEditModal(collaborator)">
              <ng-icon hlm class="w-7 h-7" size="sm" name="lucideArrowRightFromLine" />
            </button>

            <button hlmBtn size="sm" variant="outline" class="h-7 w-7 p-0 text-red-600 hover:bg-red-50" (click)="openDeleteModal(collaborator)">
              <ng-icon hlm class="w-7 h-7" size="sm" name="lucideTrash" />
            </button>
          </div>
        </td>
      </tr>
      } @empty {
      <tr hlmTr>
        <td hlmTd colspan="4" class="text-center text-slate-500 py-8">
          Nenhum colaborador encontrado.
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>



<app-create-collaborator-dialog
    title="Editar Colaborador"
    [isEditMode]="true"
    [initialData]="selectedCollaborator"
    [(isOpen)]="isEditModalOpen"
    (collaboratorSaved)="saveEdit($event)"
></app-create-collaborator-dialog>

<app-delete-confirmation-dialog
    title="Confirmar Exclusão"
    message="Tem certeza que deseja apagar o colaborador {{ selectedCollaborator?.person!.name }}? Essa ação é irreversível."
    [(isOpen)]="isDeleteModalOpen"
    (confirmAction)="confirmDelete()"
></app-delete-confirmation-dialog>